body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
}
main{
  flex-grow: 1;
  background-image: url('https://i.pinimg.com/originals/30/09/e7/3009e722ec057ffab1e41d2f993385d1.png');
}
p{
  font-size: smaller;
}
footer, article{
  height: 35vh;
}
i{
  font-size: 300px;
}
.instance{
  width: fit-content;
  user-select: none;
}
.hidden{
  display: none !important;
}
.customheight{
  height: 50.1vh;
}
.cusheight2{
  height: 31.9vh
}
.menu{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.upgrade{
  height: 200px;
}
.fa-spin{
  animation-duration: 4s;
}
.border {
  border-top: 2px black solid !important;
  border-right: 2px black solid !important;
  border-left: 2px black solid !important;
}